Alayaz.SOA.IService.TestClient/Service References/ImpInvServiceProxy/SyncImportInvoiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncImportInvoiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISyncImportInvoiceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/alayazsoa/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/alayazsoa/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/alayazsoa/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alayaz.SOA.Service.ViewModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncImportInvoiceService_InjectList_InputMessage">
    <wsdl:part name="parameters" element="tns:InjectList" />
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_InjectList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InjectListResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_FetchList_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchList" />
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_FetchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISyncImportInvoiceService">
    <wsdl:operation name="InjectList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/InjectList" message="tns:ISyncImportInvoiceService_InjectList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/InjectListResponse" message="tns:ISyncImportInvoiceService_InjectList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/FetchList" message="tns:ISyncImportInvoiceService_FetchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/FetchListResponse" message="tns:ISyncImportInvoiceService_FetchList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISyncImportInvoiceService" type="tns:ISyncImportInvoiceService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISyncImportInvoiceService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InjectList">
      <soap12:operation soapAction="http://tempuri.org/ISyncImportInvoiceService/InjectList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchList">
      <soap12:operation soapAction="http://tempuri.org/ISyncImportInvoiceService/FetchList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncImportInvoiceService">
    <wsdl:port name="NetTcpBinding_ISyncImportInvoiceService" binding="tns:NetTcpBinding_ISyncImportInvoiceService">
      <soap12:address location="net.tcp://localhost:9001/alayazsoa" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9001/alayazsoa</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/JR-Studio</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>