Alayaz.SOA.IService.TestClient/Service References/ServiceRefConsole/mex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.alayaz.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.alayaz.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.alayaz.com/Imports">
      <xsd:import schemaLocation="http://localhost:16520/alayazsoa/mex?xsd=xsd0" namespace="http://www.alayaz.com/" />
      <xsd:import schemaLocation="http://localhost:16520/alayazsoa/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileReader_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IFileReader_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IFileReader_Write_InputMessage">
    <wsdl:part name="parameters" element="tns:Write" />
  </wsdl:message>
  <wsdl:message name="IFileReader_Write_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteResponse" />
  </wsdl:message>
  <wsdl:message name="IFileReader_JustStart_InputMessage">
    <wsdl:part name="parameters" element="tns:JustStart" />
  </wsdl:message>
  <wsdl:message name="IFileReader_JustStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:JustStartResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileReader">
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://www.alayaz.com/IFileReader/Read" message="tns:IFileReader_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://www.alayaz.com/IFileReader/ReadResponse" message="tns:IFileReader_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Write">
      <wsdl:input wsaw:Action="http://www.alayaz.com/IFileReader/Write" message="tns:IFileReader_Write_InputMessage" />
      <wsdl:output wsaw:Action="http://www.alayaz.com/IFileReader/WriteResponse" message="tns:IFileReader_Write_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JustStart">
      <wsdl:input wsaw:Action="http://www.alayaz.com/IFileReader/JustStart" message="tns:IFileReader_JustStart_InputMessage" />
      <wsdl:output wsaw:Action="http://www.alayaz.com/IFileReader/JustStartResponse" message="tns:IFileReader_JustStart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>