Alayaz.SOA.Service/wsdll_DEMO.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SyncImportInvoiceService" targetNamespace="http://tempuri.org/">
  <wsp:Policy wsu:Id="WS2007HttpBinding_ISyncImportInvoiceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.254:16510/SyncImport.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="http://192.168.0.254:16510/SyncImport.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="http://192.168.0.254:16510/SyncImport.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alayaz.SOA.Service.ViewModel"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncImportInvoiceService_InjectList_InputMessage">
    <wsdl:part name="parameters" element="tns:InjectList"/>
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_InjectList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InjectListResponse"/>
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_FetchList_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchList"/>
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_FetchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchListResponse"/>
  </wsdl:message>
  <wsdl:portType name="ISyncImportInvoiceService">
    <wsdl:operation name="InjectList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/InjectList" message="tns:ISyncImportInvoiceService_InjectList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/InjectListResponse" message="tns:ISyncImportInvoiceService_InjectList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FetchList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/FetchList" message="tns:ISyncImportInvoiceService_FetchList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/FetchListResponse" message="tns:ISyncImportInvoiceService_FetchList_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007HttpBinding_ISyncImportInvoiceService" type="tns:ISyncImportInvoiceService">
    <wsp:PolicyReference URI="#WS2007HttpBinding_ISyncImportInvoiceService_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InjectList">
      <soap12:operation soapAction="http://tempuri.org/ISyncImportInvoiceService/InjectList" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchList">
      <soap12:operation soapAction="http://tempuri.org/ISyncImportInvoiceService/FetchList" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncImportInvoiceService">
    <wsdl:port name="WS2007HttpBinding_ISyncImportInvoiceService" binding="tns:WS2007HttpBinding_ISyncImportInvoiceService">
      <soap12:address location="http://192.168.0.254:16510/SyncImport.svc"/>
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.0.254:16510/SyncImport.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>