Alayaz.CM.DN432.WebCrawl/Service References/WinSvcHostServiceRef/SyncImportInvoiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncImportInvoiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13000/alayazsoa/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13000/alayazsoa/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13000/alayazsoa/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alayaz.SOA.Service.ViewModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncImportInvoiceService_InjectList_InputMessage">
    <wsdl:part name="parameters" element="tns:InjectList" />
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_InjectList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InjectListResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_FetchList_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchList" />
  </wsdl:message>
  <wsdl:message name="ISyncImportInvoiceService_FetchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISyncImportInvoiceService">
    <wsdl:operation name="InjectList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/InjectList" message="tns:ISyncImportInvoiceService_InjectList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/InjectListResponse" message="tns:ISyncImportInvoiceService_InjectList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/FetchList" message="tns:ISyncImportInvoiceService_FetchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncImportInvoiceService/FetchListResponse" message="tns:ISyncImportInvoiceService_FetchList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISyncImportInvoiceService" type="tns:ISyncImportInvoiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InjectList">
      <soap:operation soapAction="http://tempuri.org/ISyncImportInvoiceService/InjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchList">
      <soap:operation soapAction="http://tempuri.org/ISyncImportInvoiceService/FetchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncImportInvoiceService">
    <wsdl:port name="BasicHttpBinding_ISyncImportInvoiceService" binding="tns:BasicHttpBinding_ISyncImportInvoiceService">
      <soap:address location="http://localhost:13002/alayazsoa" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>